/* -------------------------------------------------- */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Segoe UI';
   font-weight: 100;
   background-color: #EEE7DA;
}
/* -------------------------------------------------- */



/* --------------------- HEADER --------------------- */
.header {
   overflow: hidden;
   background-color: #AFC8AD;
   padding: 20px 10px;
}

.header a {
   float: left;
   color: #000000;

   text-align: center;
   padding: 20px;
   
   text-decoration: none;
   font-size: 20px;
   line-height: 20px;
   border-radius: 25px;
}

.header a.header-left {
   font-size: 30px;
   font-weight: none;
}

.header a:hover {
   background-color: #88AB8E;
}

/* DÚVIDA: Como altero/verifico o estado ativo? */
.header a.active {
   background-color: #88AB8E;
}

.header-right {
   float: right;
}

/* NOTE: Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
   .header a {
      float: none;
      display: block;
      text-align: left;
   }
   .header-right {
      float: none;
   }
}
/* -------------------------------------------------- */



/* ----_----------------- HERO ---------------------- */
.homepageHero {
   width: auto;
   height: auto;
   margin: 10px;

   background-color: #EEE7DA;

   display:flex;
   flex-flow: wrap;
}

.homepageHero img {
   max-width: 50%;
   max-height: 50%;
}

.homepageHeroInfo {
   text-align: center;
   padding: 50px;
}
/* -------------------------------------------------- */



/* --------------------- CARDS ---------------------- */
.travelCardsContainer {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   justify-content: center;
}

.travelCard {
   border: 2px solid black;
   border-radius: 25px;
   
   width: 250px;
   padding: 5px;

   display: flex;
   align-items: center;
   flex-direction: column;
}

.travelCardImage {
   width: 90%;
   padding: 10px;
}

.cardInfo {
   text-align: center;
   line-height: 30px;
   padding: 10px;
}
/* -------------------------------------------------- */



/* ---------------------- MAP ----------------------- */
.mapContainer img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 75%;
   padding: 20px 0;
}
/* -------------------------------------------------- */



/* --------------------- FOOTER --------------------- */
.footer {
   padding: 30px;
   background-color: #F2F1EB;
}

.footer .socialMedia {
   text-align: center;
   padding-bottom: 20px;
   color: #4B4C4D;
}

.footer .socialMedia a {
   font-size: 25px;
   color: inherit;
   border: 1px solid #AAAAAA;
   
   width: 40px;
   height: 40px;
   line-height: 38px;
   
   display: inline-block;
   text-align: center;
   border-radius: 50%;
   margin: 0 10px;
   opacity: 0.80;
}

.footer .socialMedia a:hover {
   opacity: 0.5;
   background-color: #EEE7DA;
}

.footer .copyright {
   margin-top: 15px;
   color: #AAAAAA;
   text-align: center;
   font-size: 13px;
}
/* -------------------------------------------------- */